body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.paracontent {
  background-color: rgb(128, 0, 0);
  opacity: 0.9;
  color: white;
  height: 150px;
  padding-top: 20px;
}
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
  height: 500px;
  padding-top: 80px;
}
input,
.btn {
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}
input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3b5998;
  color: white;
}

.twitter {
  background-color: #55acee;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type="submit"] {
  background-color: rgb(128, 0, 0);
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(128, 0, 0);
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: rgb(128, 0, 0);
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
.modal-content {
  background-color: maroon;
  height: 800px;
  padding: 100px 100px;
}
.container2 {
  height: auto;
  background-color: white;
  color: maroon;
  padding: 30px;
  height: 500px;
  border-radius: 3px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f3c3c3;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(207, 38, 38);
  outline: none;
}
hr {
  border: 1px solid maroon;
  margin-bottom: 25px;
}
button {
  background-color: maroon;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: maroon;
  border-right: 3px solid white;
  border-radius: 3px;
}
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
  border-radius: 3px;
}
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.space {
  width: 100%;
}
.side1 {
  width: 20%;
  background-color: maroon;
  height: 700px;
  float: left;
}
.side2 {
  width: 80%;
  float: left;
  height: 700px;
}
.side1 a {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 50px;
  margin-left: 5px;
}
.workplaceHead {
  margin-top: 10px;
  color: rgb(224, 83, 83);
}

.profile {
  background-color: maroon;
  width: 100%;
  height: 660px;
  color: maroon;
  padding-top: 70px;
  padding-left: 30%;
}
.userprofile {
  width: 50%;
  height: 400px;
  background-color: white;
  text-align: center;
  padding-top: 10px;
}
.userprofilelist {
  margin: 50px;
}
.userprofilelist li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  border: 3px solid maroon;
  padding: 10px;
  border-radius: 3px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
}
